
{% extends "website/base.html" %} 
{% load i18n %}
{% block "title" %}
{% blocktrans %}
Hello page !!!
{% endblocktrans %}
{% endblock "title" %}

{% block "content" %}
    {% include "website/_menu.html" %}

    <h1>Hello {{ name  }} !</h1>
    <p>
        {% blocktrans %}
        This is the first HTML page with a date
        {% endblocktrans %}
    </p>

    <p>{{ now|date:"d/m/Y H:i:s" }}</p>


    {% if age >= 18 %}
    <p>
        {% blocktrans %}
        You can't enter in the night club
        {% endblocktrans %}
    </p>
    {% else %}
    <p>
        {% blocktrans %}
        Not possible, sir
        {% endblocktrans %}
    </p>
    {% endif %}

    <ul>
        {% for un_fruit in fruits %}
        <li>{{ un_fruit }}</li>
        {% endfor %}
    </ul>

{% endblock "content" %}