
{% extends "website/base.html" %} 

{% block "title" %}Hello page !!!{% endblock "title" %}

{% block "content" %}
    {% include "website/_menu.html" %}

    <h1>Hello !</h1>
    <p>Ceci est la première page html avec date:</p>

    <p>{{ now|date:"d/m/Y H:i:s" }}</p>

    <p>{{ name|capfirst }}</p>

    {% if age >= 18 %}
    <p>Vous pouvez rentrer en boîte</p>
    {% else %}
    <p>Ca va pas être possible monsieur</p>
    {% endif %}

    <ul>
        {% for un_fruit in fruits %}
        <li>{{ un_fruit }}</li>
        {% endfor %}
    </ul>

{% endblock "content" %}